<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
  </head>
  <body>
    <div
      class="header"
      style="position: absolute;top: 0;left: 0;width: 100%;z-index: 5;"
    >
      <app-navbar></app-navbar>
    </div>

    <div class="section" *ngIf="!isLink">
      <div class="container resetPasswordForm">
        <div class="card">
          <div class="card-body">
            <p>
              The Reset Password link has expired. Please click on the below
              button to go back to the login page
            </p>
            <button
              class="btn btn-outline-success btn-block"
              [routerLink]="['/login']"
            >
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Go back to
              Login
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="section" *ngIf="isLink">
      <div class="container resetPasswordForm">
        <div class="row align-items-center">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <form
                  name="form"
                  #resetPasswordForm="ngForm"
                  (ngSubmit)="updatePasswordFunction()"
                >
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password1"
                      placeholder="Enter password"
                      [(ngModel)]="password"
                      [ngModelOptions]="{ standalone: true }"
                      #inputPassword="ngModel"
                      required
                      autofocus
                    />
                    <div
                      *ngIf="
                        inputPassword.invalid &&
                        (inputPassword.dirty || inputPassword.touched)
                      "
                      class="notifyError"
                    >
                      <div *ngIf="inputPassword.errors.required">
                        Please enter the password
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="password">Confirm password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password2"
                      placeholder="Enter password"
                      [(ngModel)]="confirmPassword"
                      [ngModelOptions]="{ standalone: true }"
                      #inputConfirmPassword="ngModel"
                      required
                      autofocus
                    />

                    <div
                      *ngIf="
                        inputConfirmPassword.invalid &&
                        (inputConfirmPassword.dirty ||
                          inputConfirmPassword.touched)
                      "
                      class="notifyError"
                    >
                      <div *ngIf="inputConfirmPassword.errors.required">
                        Please enter the confirm password
                      </div>
                    </div>
                    <div
                      *ngIf="
                        password !== confirmPassword &&
                        confirmPassword != undefined &&
                        confirmPassword != ''
                      "
                      class="notifyError"
                    >
                      Not a matching password
                    </div>
                  </div>

                  <button
                    type="submit"
                    class="btn btn-outline-success btn-block loginBtn"
                  >
                    Update Password
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
