<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
  </head>
  <body>
    <div
      class="header"
      style="position: absolute;top: 0;left: 0;width: 100%;z-index: 5;"
    >
      <app-navbar></app-navbar>
    </div>

    <div class="section">
      <div class="container forgotPasswordForm">
        <div class="card">
          <div class="card-body">
            <p style="font-weight: 400;font-size:2em;text-align: center">
              Forgot your password?
            </p>
            <p class="text-muted">
              That's okay, it happens. Please enter your registered email and
              click on the button below to receive a password reset link on the
              email
            </p>
            <form
              name="form"
              #forgotPasswordForm="ngForm"
              (ngSubmit)="forgotPasswordFunction()"
            >
              <div class="form-group">
                <label for="email">Email address</label>
                <div class="input-group">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Enter email"
                    [(ngModel)]="email"
                    [ngModelOptions]="{ standalone: true }"
                    #inputEmail="ngModel"
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    required
                    autofocus
                  />
                </div>
                <div
                  *ngIf="
                    inputEmail.invalid &&
                    (inputEmail.dirty || inputEmail.touched)
                  "
                  class="notifyError"
                >
                  <div *ngIf="inputEmail.errors.required">
                    Please enter the email
                  </div>
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-outline-success btn-block loginBtn"
              >
                Reset Password
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
