* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
  font-size: 16px;
}

html body {
  margin: 0;
}

body {
  background-color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.card {
  /* box-shadow: 0px 3px 20px 2px #35baee; */
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.forgotPassword {
  display: block;
}

.loginBtn {
  margin-top: 2vh;
  border-radius: 20px;
}
.signUpBtn {
  margin-top: 2vh;
}

body {
  overflow-y: hidden;
}
@media screen and (min-width: 768px) {
  .forgotPasswordForm {
    width: 500px;
  }
}

@media screen and (max-width: 360px) {
  .forgotPasswordForm {
    width: 300px;
    padding-top: 20%;
    padding-bottom: 10%;
  }
}

input.ng-dirty.ng-valid {
  border-color: #42a948;
}

input.ng-dirty.ng-invalid {
  border-color: #a94442;
}
.notifyError {
  color: #a94442;
}
